<html>
<header>
  <h2>Add a Product Below...</h2>
</header>
<body>
<br>
<form action="/" method="post">
  <input type="text" name="new_product">
  <input type="submit" value="Create Product">
</form>
</body>
</html>
